.menu{
    display:flex;
    justify-content: space-between;
    background-color: #000000;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}
.Grid{
    display:flex; 
    flex-wrap: wrap;

}


.Grid img{
    border:2px solid #000000;
    border-radius: 50px;
}
.Origami{
    display:flex;
    border-radius:20px ;
    background-color: #ffffff;
    width:310px;
    font-family: fantasy;
}
body{
    margin: 0px;
    background-color: #f7f2f2;
}